<footer class="footer">
  <div class="button footer__icon">
    <a href="#top"><img class="" src="./assets/icons/ico-arrow.svg"/></a>
  </div>
  <div class="footer__container">
    <nav class="nav page__directory">
    <ul class="footer__links">
        <li><a class="footer__links--url" href="#">Articles</a></li>
        <li><a class="footer__links--url" href="#">Books</a></li>
        <li><a class="footer__links--url" href="#">Events</a></li>
        <li><a class="footer__links--url" href="#">Reasons</a></li>
        <li><a class="footer__links--url" href="#">Tips</a></li>
    </ul>
  </nav>
  <nav class="nav page__social">
    <ul class="footer__links">
      <li><a class="footer__links--url" href="#">Twitter</a></li>
      <li><a class="footer__links--url" href="#">Instagram</a></li>
      <li><a class="footer__links--url" href="#">Mastodon.social</a></li>
    </ul>
  </nav>
    <div class="footer__copyright">
      <small class="footer__copyright--year">
            ©2017
        </small>
        <p>we <span class="footer__heart">❤ </span>︎</span> components</p>
    </div>
  </div>
</footer>