<main class="page__main">
    <secion class="page__hero">
    <div class="page__hero--container">
        <h1 class="page__hero--title">Anonymous proxy</h1>
        <p class="page__hero--text">In hac habitasse platea dictumst.</p>
        <div class="icon__hero">
            <a href="#section__1"><img src="./assets/icons/ico-scroll-down.svg" /></a>
        </div>
    </div>
    </secion>
    <section class="section__1" id="section__1">
        <p class="section__1--desc">Insomnia tips</p>
        <h2 class="section__1--title">Looking Through A Window</h2>
        <p class="section__1--text">Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales retrum.</p>
        <div class="section__1--button">Go</div>
    </section>
    <section class="section__2">
        <h2 class="section__2--title">3 Reasons To Purchase</h2>
        <div class="section__2--wrapper">
            <div>
                <h3>Ut sed metus</h3>
                <p>Lorem ipsum dolor sit amet, consecteur.</p>
            </div>
            <div>
                <h3>Curabitur ac erat</h3>
                <p>Mauris mattis urna quis lorem molestie.</p>
            </div>
            <div>
                <h4>Morbi dictum</h4>
                <p>Aliquam in dolor et dolor tincidunt.</p>
            </div>
            <div class="section__2--button">More reasons</div>
        </div>
    </section>
</main>
