<main class="page__main">
  <section class="page__hero">
    <div class="page__hero--container">
      <h1 class="page__hero--title" alt="Bienvenidos a Anonymous Proxy" >Anonymous proxy</h1>
      <p class="page__hero--text">In hac habitasse platea dictumst.</p>
      <div class="button icon__hero">
        <a href="#section__1">
          <img src="./assets/icons/ico-scroll-down.svg" />
        </a>
      </div>
    </div>
  </section>
  <section class="section__1" id="section__1">
    <p class="section__1--desc">Insomnia tips</p>
    <h2 class="section__1--title">Looking Through A Window</h2>
    <p class="section__1--text">
      Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at
      luctus ex diam nec lectus. Vivamus semper sodales retrum.
    </p>
    <div class="button section__1--button"><a href="#" class="link">Go</a></div>
  </section>
  <section class="section2">
      <div class="section2__grid">
    <h2 class="section2__title">3 Reasons To Purchase</h2>
      <div class="section2__reason">
        <h3 class="section2__reason--title">Ut sed metus</h3>
        <p class="section2__reason--text">Lorem ipsum dolor sit amet, consecteur.</p>
      </div>
      <div class="section2__reason">
        <h3 class="section2__reason--title">Curabitur ac erat</h3>
        <p class="section2__reason--text">Mauris mattis urna quis lorem molestie.</p>
      </div>
      <div class="section2__reason">
        <h3 class="section2__reason--title">Morbi dictum</h4>
        <p class="section2__reason--text">Aliquam in dolor et dolor tincidunt.</p>
      </div>
      <div class="button section2__button"><a href="#" class="link">More reasons</a></div>
    </div>
  </section>
</main>
