.button {
    width: 45px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $secondary-text-color;
    font-family: $font-text;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        transition: opacity 1.5s;
        text-decoration: underline;
    }
}