.button {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  font-family: $font-text;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: $footer-color;
    transition: color ease 0.7s;
  }
}
