.button {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  font-family: $font-text;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    transition: opacity 1.5s;
  }
}
