@import 'core/variables';

.header__icon {
    position: fixed;
    width: 44px;
    height: 44px;
    background-color: #0271bc;
    display: flex;
    justify-content: center;
    align-items: center;
}

